/* default color: #FAB702 */
.mb_YTVPBar, .text-slider .text-item b   {color: #fab702;}
.mb_YTVTime, nav ul#mainmenu li.current-menu-ancestor li.current-menu-parent > a {background-color:#FAB702;color:#222327;}
#mainmenu li.current-menu-item > a, nav ul#mainmenu > li.current-menu-ancestor > a {color: #FAB702;}
h1.title strong, .pricing-box h1, .de_light .pricing-box h1, #mainmenu li a:after, header .info ul.info-list li i, header .info ul.social-list li a:hover i {color: #fab702;}
#mainmenu li a.mPS2id-highlight, .pricing-dark .pricing-box li.price-row, .price  {color: #fab702;}
.price-row, .pricing-dark.pricing-box .price-row, .de_light .pricing-dark.pricing-box .price-row,
.bg-color, .de_light .bg-color,#back-to-top,
section.call-to-action,
#mainmenu li li a:hover,
.price-row,
.blog-list .date,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
.btn-primary,
.bg-id-color,
.pagination .current,
.pagination .current,
.pagination .current:hover,
.pagination .current:hover,
.pagination .current:focus,
.pagination .current span:focus,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.blog-list .date-box .day,
.bloglist .date-box .day,
.feature-box-small-icon .border,
.small-border,
#jpreBar,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.btn-line:hover,a.btn-line:hover,
.btn-line.hover,a.btn-line.hover,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info,
.vc_tta-container .vc_tta-tabs-container li span,
.de_testi blockquote:before,
.menu-sidebar-menu-container ul li.current_page_item a,
.widget_nav_menu ul li:hover,
.btn-more,
.widget .small-border,
.product img:hover,
#btn-search,
.form-submit #submit,
#wp-calendar tbody td#today,
.de_tab.tab_steps .de_nav li span,
#services-list li a:hover,
.de_light #services-list li.active,
#services-list li.active, .button.btn.btn-line:hover,.woocommerce #respond input#submit, .woocommerce a.button, 
.woocommerce button.button, .woocommerce input.button, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, 
.woocommerce button.button.alt, .woocommerce input.button.alt, a.btn-custom, .owl-theme .owl-controls .owl-buttons div
{
 background-color:#FAB702;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #DAD8DA;
  color: #5D6F93;
}
.post-image .owl-theme .owl-controls .owl-page.active span,
ul li.menu-item-has-children ul li.active a{
   background-color:#FAB702!important;
}

.feature-box i,
#mainmenu li:hover > ul,
.slider_text h1,
.id-color,
.pricing-box li h1,
.title span,
i.large:hover,
.feature-box-small-icon-2 i,
address div i,
.pricing-dark .pricing-box li.price-row,
.price,#mainmenu .current_page_parent.menu-item-has-children > a,
#mainmenu a:hover,
#mainmenu a.active,
.pricing-dark .pricing-box li.price-row,
.dark .feature-box-small-icon i,
a.btn-slider:after,
.feature-box-small-icon i,
a.btn-line:after,
.team-list .social a,
.de_contact_info i,
.de_count,
.dark .btn-line:hover:after, .dark a.btn-line:hover:after, .dark a.btn-line.hover:after,
a.btn-text:after,
.separator span  i,
address div strong,
address span strong,
.vc_tta-container .vc_tta-tabs-container li span:hover,
.de_testi_by,
.pf_text,
.widget_tags li a,
.dark .btn-line:after, .dark  a.btn-line:after,
.crumb a,
.post-info a,
.comments_number,
.date .c_reply a,
.search-form:before,
.widget_tag_cloud li a,
h3 b,nav ul#mainmenu > li.current-menu-ancestor > a, .woocommerce .star-rating span,
.woocommerce .star-rating:before, .woocommerce div.product p.price, .woocommerce div.product span.price,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a
{
  color:#FAB702;
}

.feature-box i,
#filters a:hover,
#filters a.selected,
.pagination .current,
.pagination .current,
.pagination .current:hover,
.pagination .current:hover,
.pagination .current:focus,
.pagination .current:focus
.feature-box-big-icon i:after,
.social-icons i,
.btn-line:hover,a.btn-line:hover,
.btn-line.hover,a.btn-line:hover,
.product img:hover,
.wpcf7 input[type=text]:focus,.wpcf7 input[type=email]:focus,.wpcf7 input[type=tel]:focus,.wpcf7 textarea:focus, #search:focus,
.de_light .wpcf7  input[type=text]:focus,.de_light .wpcf7  input[type=tel]:focus,.de_light .wpcf7 textarea:focus,
.de_light .wpcf7 #search:focus, .comment-form input[type='text']:focus,.comment-form input[type='email']:focus,.comment-form textarea:focus
{
  border-color:#FAB702;
  outline: 0px;
}


.comment-form textarea:focus{
  border:1px solid #FAB702!important;
}

.box-fx .inner,
.dark .box-fx .inner,
.post-image,
.arrow-up
{
  border-bottom-color:#FAB702 !important;
}

.arrow-down{
  border-top-color:#FAB702 !important;
}

.callbacks_nav {
  background-color:#FAB702;
}

.de_tab .de_nav li span {
border-top: 3px solid #FAB702;
}

.feature-box-big-icon i:after {
border-color: #FAB702 transparent; /*same colour as the lower of the bubble's gradient*/
}

.de_review li.active img{
  border:solid 4px #FAB702;
}
.post-text blockquote {
    border-left: 5px solid #FAB702;
}